/*
*    Font Family DMSerifDisplay.
*/

@font-face {
    font-family: 'DMSerifDisplay';
    src: url('../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DMSerifDisplay';
    src: url('../fonts/DMSerifDisplay/DMSerifDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }